
<div id="foto-aluno-div" class="col-md-6">
    <figure class="cliente-photo text-center">
        <img id="Userpic" src="@ViewBag.pic" height="220" alt="Foto do Cliente" title="Foto do Cliente" />
        <figcaption class="text-center">
            <strong>@ViewBag.nomefoto</strong>
        </figcaption>
    </figure>
</div>