
@{
    ViewBag.Title = "JC-Park";
}


<div class="jumbotron">
    <div class="text-center">
        <img src="~/Content/images/LogoUltraGamesPark.png" height="108" width="360" alt="" />
    </div>
    <h1 class="lead text-center"><strong>JC-PARK</strong> Sistema Gestor de Eventos, controle atendimento a clientes!</h1>
</div>

<div class="row">
    <div class="col-md-4 text-justify">
        <h2>A Ultra Games Park</h2>
        <p>
            <strong>Ultra Games Park</strong> é uma empresa especializada em eventos infantis, cuja qualidade técnica e profissional, a coloca em posição de destaque!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Diversão Infantil</h2>
        <ul>
            <li> <span>Brinquedos Infláveis </span> </li>
            <li> <span> Brinquedos Mecânicos </span> </li>
            <li> <span> Área Baby </span> </li>
            <li> <span> Piscina de Bolinhas </span> </li>
            <li> <span> Tobogã Golfinho </span> </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <div class="text-justify">
            <p class="dt-sc-contact-info">
                <span class="fa fa-map-marker"></span> Av. São Luís Rei de França, N° 46-A, Turu <br> São Luís/MA
            </p>
            <p class="dt-sc-contact-info">
                <span class="fa fa-phone"></span> (98) 3233-8081
            </p>
            @*<p class="dt-sc-contact-info">
                <span class="fa fa-envelope"></span> contato@ultragames.com.br
            </p>*@
        </div>
    </div>
</div>

