@{
    ViewBag.Title = "JCarvalho TI";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><b>Contatos</b></div>
    <div class="panel-body">
        <div class="col-md-6">
            <section class="contact">
                <header>
                    <h3>Telefones:</h3>
                </header>
                <p>
                    <span class="fa fa-phone"> OI:</span>
                    <span>(98) 98701-3911</span>
                </p>
                <p>
                    <span class="fa fa-whatsapp"> TIM:</span>
                    <span>(98) 98336-1031</span>
                </p>
            </section>
            <section class="contact">
                <header>
                    <h3>Email:</h3>
                </header>
                <p>
                    <span class="fa fa-envelope"> :</span>
                    <span><a href="mailto:jcarvalhoti@gmail.com">jcarvalhoti@gmail.com</a></span>
                </p>
            </section>
        </div>
        <div class="col-md-6">
            <section class="contact">
                <header>
                    <h3>Redes Sociais:</h3>
                </header>
                <p>
                    <span class="fa fa-facebook"> </span>
                    <span><a href="http://www.facebook.com/JCarvalhoInformatica" title="JCarvalho Tecnologia em Informática" target="new">JCarvalho TI.</a></span>
                </p>
                <p>
                    <span class="fa fa-twitter"> </span>
                    <span><a href="http://twitter.com/joser_carvalho" title="twitter.com/joser_carvalho" target="new">twitter.com/joser_carvalho</a></span>
                </p>
            </section>
            <section class="contact">
                <header>
                    <h3>SKYPE:</h3>
                </header>
                <p>
                    <span class="fa fa-skype"> :</span>
                    <span>joser_carvalho</span>
                </p>
            </section>
        </div>
    </div>
</div>
