@model JC_PARK.Domain.Entities.Despesa
<tr>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.DataCadastro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ValorEntrada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ValorDespesa)
    </td>
</tr>
